<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
    <title>Ingreso al sitio</title>
  
    <!-- <link rel="stylesheet" href="/HAB-FINANS/src/main/resources/static/css/styles.css"> -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <!-- <h1>Hola Mundo!</h1> -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a th:href="@{/}" class="navbar-brand">Sistema de gestión de empleados</a>
    </nav>
    <div class="container">
        <div class="row">
            <h1>Libreta de empleado</h1>
        </div>

        <div class="row">
            <a th:href="@{/new_employee}" class="btn btn-primary btn-sm mb3">Agregar empleado</a>

        </div>
        <div class="row">
            <table class="table table-stripped table-bordered">
                <thead class="table-dark">
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Enterprise</th>
                    <th>Role</th>

<!--                     <th>Created At</th> -->
                    <th>Updated At</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="employee : ${employee}">
                    <td th:text="${employee.idEmployee}">Id</td>
                   <td th:text="${employee.nameEmployee}">Nombre</td>
                    <td th:text="${employee.emailEmployee}"></td>
                    
                    <td th:text="${employee.phoneEmployee}"></td>
                    <td th:text="${employee.enterpriseEmployee.nameEnterprise}"></td>
                    <td th:text="${employee.rolesEmployee}"></td>
<!--                     
                   <td th:text="${employee.createdAtemployee}"></td>
                     -->
                    <td th:text="${employee.updatedAtEmployee}"></td>
                    
                    <td>
                    <a th:href="@{employee_admin/edit/{idEmployee} (idEmployee=${employee.idEmployee})}" class="btn btn-info">Editar</a>


                      


                      <form th:action="@{/employee_admin/delete/{idEmployee}(idEmployee=${employee.idEmployee})}" th:method="delete">
                      
                      <button type="submit" class="btn btn-danger">Eliminar</button>
                      </form>



                    </td>
                  </tr>
                </tbody>
                </table>

        </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>