<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Empleado</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a href="#" class="navbar-brand">Administrador</a>
    </nav>
<div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center"> Crear nuevo empleado</h1>
                <div class="card-body">
                    <form th:action="@{/enter}" th:object="${employee}">

                        <div class="form-group">
                        <label>Nombre: </label>
                        <input type="text" name="nombre" th:field="*{name}" class="form-control" placeholder="Digite el nombre: " required>
                        </div>

                   <div class="form-group">
                            <input type="text" name="email" th:field="*{email}" class="form-control" placeholder="Digite el email: " required>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</body>
</html>